.background{
  padding: 15px;
  /* background-color:#294B29; */
  
 /* background-color: #EBC49F; */

 background: repeating-linear-gradient( -45deg, black
 , black 19px, black 19px, black 95px );

 border-radius: 10px;

}

.board {
  display: flex;
  flex-direction: column-reverse;
 background-color: white;
 opacity: 0.9;

}

.board__row {
  display: flex;
  flex-direction: row;
}
.board__row--reversed {
  flex-direction: row-reverse;
  
}

.board__col {
  height: 70px;
  width: 90px;
  color:#122F0B;
  border: 3px solid #122F0B;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;

  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 3px;
}
.board__col--border-bottom{
    border-bottom: 3px solid #122F0B;


}
.board__col--border-left {
  border-left:3px solid #122F0B;
}
.board__col--player1 {
  background-color: aqua;

}
.board__col--player2 {
  background-color: rgb(255, 0, 0);


}

.board__col--ladder-two-head{
 border-color: rgb(142, 136, 148);
 
}

.board__col--ladder-two-tail{
 border-color:chartreuse;
}


.board__col--ladder-one-head{
 border-color: rgb(79, 31, 183);
}

.board__col--ladder-one-tail{
 border-color:rgb(91, 141, 40);
}


.board__col--snake-one-head{
 border-color:rgb(133, 133, 215);
}

.board__col--snake-one-tail{
 border-color:chocolate;
}

.board__col--snake-two-head{
 border-color:rgb(170, 12, 139);
}

.board__col--snake-two-tail{
 border-color:brown;
}